.main-container {
  margin: 2em;
  margin-top: 1em;
}

.avatar-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 9999px;
}

.name {
  font-size: 1.2em;
}

.title {
  font-size: 1.2em;
  color: var(--dark-green);
}

@media (max-width: 1225px) {
  .avatar-img {
    width: 150px;
    height: 150px;
  }
}
