.card-container {
  background-color: var(--dark-green);
  color: var(--cream-white);
  font-size: 19px;
  margin: 0.3em;
  width: fill;
}

.card-img {
  max-height: 100%;
  max-width: 100%;
  width: stretch;
}
