.container {
  background-color: var(--brown);
  padding: 2em;
}

.nav-items-container {
  width: 36em;
  font-size: 17px;
  font-weight: 600;
}

@media (max-width: 900px) {
  .nav-items-container {
    width: auto;
  }
}

@media (max-width: 675px) {
  .nav-items-container :nth-child(4) {
    display: none;
  }

  .nav-items-container :last-child {
    display: none;
  }
}
