.container {
  background-color: var(--brown);
  padding: 2em;
}

.logo {
  cursor: pointer;
}

.nav-items-container {
  width: 36em;
  font-size: 19px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .container {
    padding: 1em;
  }

  .nav-items-container {
    font-size: 16px;
    width: auto;
  }
}

@media (max-width: 650px) {
  .container {
    padding-left: 0em;
    padding-right: 0em;
  }

  .nav-items-container {
    font-size: 12px;
  }
}
