.sb-container {
  background-color: var(--light-green);
  position: fixed;
  top: 7vh;
  width: 5em;
  height: 45em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: white;
}

.sb-icon {
  color: var(--darkest-green);
  /* font-size: 25px; */
  font-size: 2.1em;
}

@media (max-width: 900px) {
  .sb-container {
    display: none;
  }
}
