.sb-container {
  background-color: var(--light-green);
  position: fixed;
  top: 7vh;
  height: 50em;
  width: 5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;
  color: var(--cream-white);
}

.sb-container * {
  cursor: pointer;
}

.sb-icon {
  color: var(--darkest-green);
  font-size: 2.1em;
  cursor: pointer;
}

.sb-item-container:hover .sb-icon {
  color: var(--card-white);
}

@media (max-width: 900px) {
  .sb-container {
    display: none;
  }
}
