.image-container {
  height: 750px;
}

@media (max-width: 750px) {
  .image-container {
    margin-bottom: -10em;
  }
}

@media (max-width: 600px) {
  .image-container {
    margin-bottom: -20em;
  }
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
  width: stretch;
}
