.image-container {
  height: 900px;
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
  width: stretch;
}

@media (max-width: 750px) {
  .image-container {
    margin-bottom: -10em;
  }
}

@media (max-width: 600px) {
  .image-container {
    margin-bottom: -20em;
  }
}

.elected-officials-bg-color {
  /* background-color: rgb(71, 67, 64); */
  background-color: rgb(134, 109, 90);
}
