body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(248, 248, 245);
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  color: #474340;
  line-height: 1.4;

  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/******* Color Theme *******/
.main-color-theme {
  --cream-white: rgb(248, 248, 245);
  --light-green: rgb(94, 201, 201);
  --dark-green: rgb(21, 153, 154);
  --darkest-green: rgb(12, 55, 55);
}

/******* Shared Classed *******/

/* Move elements right when hover side bar is active. Get rid of margin when sidebar disappears. */
.left-screen-margin {
  margin-left: 7.5em;
}
@media (max-width: 900px) {
  .left-screen-margin {
    margin-left: 0;
  }
}

/* Puts margin around div and edge of screen. */
/* Add additional left margin if left sidebar is active */
.edge-screen-margin {
  margin: 1em;
  margin-left: 7.5em;
}
@media (max-width: 900px) {
  .edge-screen-margin {
    margin: 1em;
    margin-left: 1em;
  }
}

/******* Flex Box *******/
.d-flex {
  display: flex;
}

.space-btwn {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

/******* Margin *******/
.mx-auto {
  margin-left: 0rem;
  margin-right: 0rem;
}

.ml-auto {
  margin-left: auto;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-3 {
  margin-top: 3em;
}

/******* Size *******/
.fit-content {
  width: fit-content;
}

.w-fill {
  width: fill;
}
